<!--
  ~     Copyright (C) 2019  Vikas Kumar Verma
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<p>Dear MR.<strong> {FATHER NAME}</strong>,</p>
<p style="text-align: justify;">This is to inform you regarding your child name: MASTER <strong>{NAME}</strong>,
    enrolment number: <strong>{ENROLMENT_NO}</strong>, standard: <strong>{STANDARD}</strong></p>
<p><span style="color: #ff0000;">This is to inform you that your total fee is due amount is <strong>{</strong><strong>AMOUNT}</strong>.</span>
</p>
<p>Please deposit the due amount as early as possible.</p>
<p>Regards,</p>
<p>Admin</p>
<p>Sansakar School&nbsp;</p>
