<!--
  ~     Copyright (C) 2019  Vikas Kumar Verma
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<p>Dear MR. <strong><span th:text="${fatherName}"></span></strong>,</p>
<p>Thank you for depositing fee for student name: MASTER <span th:text="${name}"></span> enrolment: <span th:text="${enrolmentNo}"></span>.&nbsp;</p>
<p>The amount deposited <span style="color: #00ff00;"> Rs. <span th:text="${depositAmount}"></span> </span>Toal due fee after deposit <strong><span style="color: #ff0000;">Rs. <span th:text="${balanceAmount}"></span></span></strong>.</p>
<p>Regards,</p>
<p>Sansakar School</p>

</body>
