<!--
  ~     Copyright (C) 2019  Vikas Kumar Verma
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<p>Dear MR.<strong> <span th:text="${fatherName}"></span></strong>,</p>
<p>We have got request for admission of your son MASTER <strong><span th:text="${name}"></span></strong>, enrolment number:
    <strong><span th:text="${enrolmentNo}"></span></strong>, standard: <strong><span
        th:text="${standard}"></span>.</strong></p>
<p>We are processing your admission request, <span style="color: #ff0000;">Please kindly submit the due fee amount Rs.:&nbsp;<strong><span
    th:text="${amount}"></span>,</strong> for further processing of your request.</span>
</p>
<p>Regards,</p>
<p>Admin</p>
<p>Sansakar School&nbsp;</p>

</body>
