<!--
  ~     Copyright (C) 2019  Vikas Kumar Verma
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>Dear Team,</p>
<p>Some problem in creating student account in master for enrolment: <strong><span th:text="${enrolmentNo}"></span></strong> name: <strong><span th:text="${name}"></span></strong> this is the error message: <strong><span th:text="${message}"></span></strong>.</p>
<p>Regards,</p>
<p>Admin</p>
<p>Sansakar School</p>
<p>&nbsp;</p>
</body>
